USE [master]
GO
/****** Object:  Database [ArquiteturaBase]    Script Date: 11/14/2018 8:58:17 PM ******/
CREATE DATABASE [ArquiteturaBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArquiteturaBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ArquiteturaBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArquiteturaBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ArquiteturaBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArquiteturaBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArquiteturaBase]
GO
USE [ArquiteturaBase]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/14/2018 8:58:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 11/14/2018 8:58:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataPedido] [datetime2](7) NOT NULL,
	[NumeroPedido] [nvarchar](max) NULL,
	[UsuarioId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoItem]    Script Date: 11/14/2018 8:58:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProdutoId] [int] NULL,
	[Quantidade] [int] NOT NULL,
	[PrecoUnitario] [decimal](18, 2) NOT NULL,
	[PedidoId] [int] NULL,
 CONSTRAINT [PK_PedidoItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 11/14/2018 8:58:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[Id] [nvarchar](450) NOT NULL,
	[Nome] [nvarchar](256) NULL,
	[NomeNormalizado] [nvarchar](256) NULL,
	[ChaveAlteracao] [nvarchar](max) NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilAtributo]    Script Date: 11/14/2018 8:58:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilAtributo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PerfilId] [nvarchar](450) NOT NULL,
	[TipoAtributo] [nvarchar](max) NULL,
	[ValorAtributo] [nvarchar](max) NULL,
 CONSTRAINT [PK_PerfilAtributo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 11/14/2018 8:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [nvarchar](max) NULL,
	[Tamanho] [nvarchar](max) NULL,
	[Preco] [decimal](18, 2) NOT NULL,
	[Titulo] [nvarchar](max) NULL,
	[ArteDescricao] [nvarchar](max) NULL,
	[ArteData] [nvarchar](max) NULL,
	[ArteCodigo] [nvarchar](max) NULL,
	[Artista] [nvarchar](max) NULL,
	[ArtistaNascimento] [datetime2](7) NOT NULL,
	[ArtistaMorte] [datetime2](7) NOT NULL,
	[ArtistaNacionalidade] [nvarchar](max) NULL,
 CONSTRAINT [PK_Produto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/14/2018 8:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [nvarchar](450) NOT NULL,
	[NomeUsuario] [nvarchar](256) NULL,
	[NomeUsuarioNormalizado] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailNormalizado] [nvarchar](256) NULL,
	[EmailConfirmado] [bit] NOT NULL,
	[Senha] [nvarchar](max) NULL,
	[ChaveSenha] [nvarchar](max) NULL,
	[ChaveAlteracao] [nvarchar](max) NULL,
	[Telefone] [nvarchar](max) NULL,
	[TelefoneConfirmado] [bit] NOT NULL,
	[DoisFatoresAtivado] [bit] NOT NULL,
	[Saida] [datetimeoffset](7) NULL,
	[PodeSair] [bit] NOT NULL,
	[QuantidadeFalhas] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioAtributo]    Script Date: 11/14/2018 8:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioAtributo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [nvarchar](450) NOT NULL,
	[TipoAtributo] [nvarchar](max) NULL,
	[ValorAtributo] [nvarchar](max) NULL,
 CONSTRAINT [PK_UsuarioAtributo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioPerfil]    Script Date: 11/14/2018 8:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPerfil](
	[UsuarioId] [nvarchar](450) NOT NULL,
	[PerfilId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UsuarioPerfil] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[PerfilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioProvedor]    Script Date: 11/14/2018 8:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioProvedor](
	[UsuarioId] [nvarchar](450) NOT NULL,
	[LoginProvedor] [nvarchar](450) NOT NULL,
	[Nome] [nvarchar](450) NOT NULL,
	[Valor] [nvarchar](max) NULL,
 CONSTRAINT [PK_UsuarioProvedor] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[LoginProvedor] ASC,
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioProvedorLogin]    Script Date: 11/14/2018 8:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioProvedorLogin](
	[LoginProvedor] [nvarchar](450) NOT NULL,
	[ChaveProvedor] [nvarchar](450) NOT NULL,
	[NomeProvedor] [nvarchar](max) NULL,
	[UsuarioId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UsuarioProvedorLogin] PRIMARY KEY CLUSTERED 
(
	[LoginProvedor] ASC,
	[ChaveProvedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181110142945_inicio', N'2.1.4-rtm-31024')
GO
SET IDENTITY_INSERT [dbo].[Produto] ON 
GO
SET IDENTITY_INSERT [dbo].[Produto] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/14/2018 8:58:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[Perfil]
(
	[NomeNormalizado] ASC
)
WHERE ([NomeNormalizado] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PerfilAtributo_PerfilId]    Script Date: 11/14/2018 8:58:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_PerfilAtributo_PerfilId] ON [dbo].[PerfilAtributo]
(
	[PerfilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 11/14/2018 8:58:19 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[Usuario]
(
	[EmailNormalizado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/14/2018 8:58:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[Usuario]
(
	[NomeUsuarioNormalizado] ASC
)
WHERE ([NomeUsuarioNormalizado] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UsuarioAtributo_UsuarioId]    Script Date: 11/14/2018 8:58:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioAtributo_UsuarioId] ON [dbo].[UsuarioAtributo]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UsuarioPerfil_PerfilId]    Script Date: 11/14/2018 8:58:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioPerfil_PerfilId] ON [dbo].[UsuarioPerfil]
(
	[PerfilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UsuarioProvedorLogin_UsuarioId]    Script Date: 11/14/2018 8:58:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioProvedorLogin_UsuarioId] ON [dbo].[UsuarioProvedorLogin]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Usuario_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Usuario_UsuarioId]
GO
ALTER TABLE [dbo].[PedidoItem]  WITH CHECK ADD  CONSTRAINT [FK_PedidoItem_Pedido_PedidoId] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedido] ([Id])
GO
ALTER TABLE [dbo].[PedidoItem] CHECK CONSTRAINT [FK_PedidoItem_Pedido_PedidoId]
GO
ALTER TABLE [dbo].[PedidoItem]  WITH CHECK ADD  CONSTRAINT [FK_PedidoItem_Produto_ProdutoId] FOREIGN KEY([ProdutoId])
REFERENCES [dbo].[Produto] ([Id])
GO
ALTER TABLE [dbo].[PedidoItem] CHECK CONSTRAINT [FK_PedidoItem_Produto_ProdutoId]
GO
ALTER TABLE [dbo].[PerfilAtributo]  WITH CHECK ADD  CONSTRAINT [FK_PerfilAtributo_Perfil_PerfilId] FOREIGN KEY([PerfilId])
REFERENCES [dbo].[Perfil] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerfilAtributo] CHECK CONSTRAINT [FK_PerfilAtributo_Perfil_PerfilId]
GO
ALTER TABLE [dbo].[UsuarioAtributo]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioAtributo_Usuario_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioAtributo] CHECK CONSTRAINT [FK_UsuarioAtributo_Usuario_UsuarioId]
GO
ALTER TABLE [dbo].[UsuarioPerfil]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPerfil_Perfil_PerfilId] FOREIGN KEY([PerfilId])
REFERENCES [dbo].[Perfil] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioPerfil] CHECK CONSTRAINT [FK_UsuarioPerfil_Perfil_PerfilId]
GO
ALTER TABLE [dbo].[UsuarioPerfil]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPerfil_Usuario_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioPerfil] CHECK CONSTRAINT [FK_UsuarioPerfil_Usuario_UsuarioId]
GO
ALTER TABLE [dbo].[UsuarioProvedor]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioProvedor_Usuario_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioProvedor] CHECK CONSTRAINT [FK_UsuarioProvedor_Usuario_UsuarioId]
GO
ALTER TABLE [dbo].[UsuarioProvedorLogin]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioProvedorLogin_Usuario_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioProvedorLogin] CHECK CONSTRAINT [FK_UsuarioProvedorLogin_Usuario_UsuarioId]
GO
USE [master]
GO
